.html {
    background-color: tan;
}

img[alt="ring logo"] {
    display: block;
    padding-left: 800px;
    position: fixed;
    width: 300px;

}


img[alt="ring 1"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
}


img[alt="ring 2"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
}


img[alt="ring 3"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
}



img[alt="ring 4"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
}

img[alt="ring 5"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
}

img[alt="ring 6"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
}

img[alt="ring 7"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
}


img[alt="ring 8"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
}

/*font-family: DIN Neuzeit Grotesk,sans-serif;*/

#about\ us {
    text-align: end;
    position: absolute;
    bottom: 500px;
    right: 16px;
    inline-size: 400px;
    font-size: large;
    font-family: DIN Neuzeit Grotesk,sans-serif;
    padding-right: 100px;
    padding-bottom: 100px;
}

#contact {
    background-color: seagreen;
    font-family: DIN Neuzeit Grotesk,sans-serif;
    font-size: 125%;
    display: block;
    padding-top: 80px;

}
