img[alt="ring logo"] {
    display: block;
    padding-left: 800px;
    position: fixed;
}

img[alt="ring 1"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 1a"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 2"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 2a"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 3"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 3a"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 4"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 4a"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 5"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 5a"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 6"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 6a"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 7"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 7a"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 8"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img[alt="ring 8a"] {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*font-family: DIN Neuzeit Grotesk,sans-serif;*/

.bottom-right {
    text-align: end;
    position: absolute;
    bottom: 250px;
    right: 16px;
    inline-size: 350px;
    font-size: large;
    font-family: DIN Neuzeit Grotesk,sans-serif;
    padding-right: 100px;
    padding-bottom: 100px;
}

.contact {
    background-color: darkseagreen;
    font-family: DIN Neuzeit Grotesk,sans-serif;
    padding-left: 800px;
}